/* ----- GLOBAL CONFIGURATION ----- */

:root {
    --primary-color: #0065FC;
    --secondaty-color: #DEEBFF;
    --tertiary-color: #F2F2F2;
    --background-color: white;

    --popular-card-img-height: 150px;
}

body {
    background-color: var(--background-color);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.container {
    justify-content: center;
    max-width: 1920px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-weight: bolder;
    font-size: 22px;
}

/* ----- HEADER ----- */

/* -- NAV -- */

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color);
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

nav,
.nav-links {
    height: 100px;
}

nav img {
    width: 100px;
    margin-left: 50px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-align: center;
    width: var(--popular-card-img-height);
}

a:hover {
    color: var(--primary-color);
}

.nav-link a::before {
    content: "";
    display: block;
    width: var(--popular-card-img-height);
    height: 3px;
    background-color: var(--tertiary-color);
    position: absolute;
    top: 0px;
}

.nav-link a:hover::before {
    background-color: var(--primary-color);
}

/* - HOME - */

#home {
    margin: 0 3%;
}

.city-form {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.city-form .form-label,
.city-form .form-input input,
.city-form .form-button button {
    height: 50px;
}

.city-form .form-label,
.city-form .form-button button {
    padding: 0 18px;
    font-weight: bold;
    font-size: 17px;
}

.city-form .show-responsive {
    display: none;
}

.city-form .form-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    border-radius: 15px 0 0 15px;
}

.city-form .form-input input {
    border: 1px solid var(--tertiary-color);
    padding: 0 15px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    min-width: 200px;
}

.city-form :focus-visible {
    outline: 2px solid var(--tertiary-color);
}

.city-form .form-button button {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 0 15px 15px 0;
}

#home .filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

#home .filters .filter-button {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    background-color: white;
    border: 2px solid var(--tertiary-color);
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
    transition: box-shadow .1s ease-out .05s, color .1s ease-out .05s;
}

#home .filter-button:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .05);
    color: var(--primary-color);
}

#home .filters .filter-button :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-color: var(--secondaty-color);
    border: 1px solid var(--secondaty-color);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: -22px;
    margin-right: 10px;
}

#home .filters .filter-infos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    flex: 100%;
    margin-top: 20px;
}

#home .filters .filter-infos i {
    color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 20px;
}

/* ----- MAIN ----- */

/* - GLOBAL - */

main {
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#hosts,
#popular,
#activities {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;

}

#hosts,
#popular {
    background-color: var(--tertiary-color);
    border-radius: 20px;
    padding: 30px 20px;
}

.title {
    width: 100%;
    font-weight: bolder;
    align-self: flex-start;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
}

.price {
    font-weight: bold;
}

/* - CARD - */

.card {
    display: flex;
    background-color: var(--background-color);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, .1);
    padding: 5px;
    margin: 20px;
    transition: box-shadow .1s ease-out .05s, transform .1s ease-out .05s;
}

.card:hover {
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .2);
    transform: scale(1.005);
}

.card .picture {
    display: flex;
    align-items: center;
}


.card img {
    object-fit: cover;
    width: 100%;
    min-height: var(--popular-card-img-height);
}

.card h3 {
    font-weight: bolder;
    font-size: 17px;
    max-height: 80px;
}

.card p {
    font-weight: normal;
    font-size: 14px;
    padding-top: 5px;
}

.card .infos {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    margin: 0;
    background-color: var(--background-color);
    justify-content: space-between;
}

.card .infos h3,
.card .infos p {
    margin: 2px 5px;
}

.card .stars {
    color: var(--primary-color);
}

.card .stars .grey {
    color: rgba(0, 0, 0, .2);
}

/* -- HOSTS -- */

#hosts {
    /* 66% (1/3) - 1% *2 (padding) - 2% *2 (margin-main) */
    flex: 60%;
    order: 1;
}

#hosts .card {
    flex-direction: column;
    max-height: 250px;
    flex: 22%;
}

#hosts .card .picture {
    overflow: hidden;
    width: 100%;
    height: var(--popular-card-img-height);
    border-radius: 15px 15px 0 0;
}

#hosts .card .infos {
    height: 90px;
}

.hosts-link {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
    flex: 100%;
    margin: 20px 0;
    transition: color .1s ease-out .05s;
}

.hosts-link:hover {
    color: var(--primary-color);
}

/* -- POPULAR -- */

#popular {
    display: flex;
    /* 33% (1/3) - 1% *2 (padding) - 2% *2 (margin) */
    flex: 27%;
    order: 2;
}

#popular .title {
    display: flex;
    justify-content: space-between;
}

#popular .title i {
    font-size: 25px;
}

#popular .card {
    flex-direction: row;
    min-width: 320px;
    width: 100%;
    min-height: var(--popular-card-img-height);
    height: var(--popular-card-img-height);
    flex: 1;
}

#popular .card .picture {
    overflow: hidden;
    width: var(--popular-card-img-height);
    min-width: var(--popular-card-img-height);
    height: var(--popular-card-img-height);
    border-radius: 15px 0 0 15px;
}

#popular .card img {
    object-fit: cover;
    margin: auto;
    height: 100%;
    min-width: var(--popular-card-img-height);
    width: auto;
}

/* -- ACTIVITIES -- */

#activities {
    flex: 100%;
    order: 3;
    justify-content: center;
}

#activities .card {
    flex-direction: column;
    overflow: hidden;
    padding: 0;
}

#activities .card .picture img {
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

#activities .card .infos {
    padding-top: 0;
    padding-bottom: 0;
}

/* block of 4 card (1 maxi & 2 mini) 
forced to raw without wrap in desktop / tablet */
#activities .row {
    flex: 50%;
    min-width: 450px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#activities .maxi,
#activities .mini {
    display: flex;
    flex-direction: column;
    flex: 50%;
}

/* force image to fit max content height */
#activities .maxi .card,
#activities .maxi .card .picture,
#activities .maxi .card .picture img {
    height: 100%;
    max-height: none;
}

/* force activity card to an max height */
#activities .mini .card {
    max-height: 200px;
}

#activities .mini .card .picture img {
    /* 200px (card) - 60px (infos) */
    height: 140px;
    vertical-align: middle;
}

#activities .infos {
    height: 60px;
    justify-content: center;
}

/* -- FOOTER -- */

footer nav {
    margin: 0;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    height: auto;
    padding: 50px;
}

footer nav .col {
    flex: 33.33%;
}

footer a {
    margin: 7px 0;
}

/* --- TABLET --- */
@media all and (max-width: 992px) {

    /* --- MAIN GLOBAL --- */

    #hosts,
    #popular {
        margin: 2%;
    }

    /* --- MAIN HOSTS --- */

    #hosts {
        order: 2;
    }

    #hosts .card {
        flex: 30%;
    }

    /* --- MAIN POPULAR --- */

    #popular {
        order: 1;
    }

    #popular .card {
        width: 100%;
    }

    /* --- MAIN ACTIVITIES --- */

    #activities .row {
        flex: 100%;
    }

    #activities .card img {
        flex: 45%;
    }
}

/* --- MOBILE --- */
@media all and (max-width: 768px) {

    /* --- GLOBAL --- */
    .title {
        width: 90%;
    }

    .card {
        margin: 15px 0;
    }

    .city-form .form-button button {
        border-radius: 15px;
        margin-left: -10px;
    }

    .flex-container {
        flex-direction: column;
    }

    /* --- HEADER --- */

    /* - NAV - */

    .logo {
        justify-content: center;
        margin-top: 20px;
    }

    header nav {
        flex-direction: column;
        height: 120px;
        justify-content: center;
    }

    .nav-link {
        width: 100%;
    }

    .nav-link a::before {
        top: 120px;
        width: 50%;
    }

    /* - HOME - */

    #home {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #home .filters span {
        flex: 100%;
        padding: 10px 0;
    }

    .city-form .form-input,
    .city-form .form-input input {
        width: 100%;
    }

    .city-form .show-responsive {
        display: flex;
    }

    .city-form .hide-responsive {
        display: none;
    }

    /* --- MAIN GLOBAL --- */

    main {
        margin: 0;
        padding: 0;
    }

    .card {
        margin: 2%;
    }

    #hosts,
    #popular,
    #activities {
        flex-direction: column !important;
        flex-wrap: nowrap;
        flex: 100%;
        margin: 0;
        border-radius: 0;
        padding: 10px;
    }

    /* --- MAIN HOSTS --- */

    #hosts {
        flex-direction: column;
        background-color: var(--background-color);
        border-radius: 0;
    }

    #hosts .card {
        flex: 100%;
        width: 100%;
    }

    /* --- MAIN POPULAR --- */

    #popular {
        padding-bottom: 40px;
    }

    #popular .card {
        flex: 100%;
    }

    /* --- MAIN ACTIVITIES --- */

    #activities {
        gap: 0;
    }

    #activities .row {
        flex-wrap: nowrap;
        flex-direction: column;
        flex: 100%;
        width: 100%;
        min-width: auto;
    }

    #activities .card {
        max-width: none;
    }

    #activities .maxi .card {
        height: 250px;
    }

    #activities .maxi .card .picture {
        height: 200px;
    }

    #activities .mini {
        flex-direction: column;
        width: 100%;
        flex: 100%;
    }

    #activities .card img {
        max-height: 250px;
        min-width: 250px;
        width: 100%;
    }

    /* --- FOOTER --- */

    footer nav {
        flex-direction: column;
    }

}